body {
            text-align: center;
        }

        h1 {
            color: #333;
        }

        .middle {
            border: 0px solid rgb(0, 0, 0);
            border-spacing: 1px;
            padding: 1px;
            margin: auto;
        }

        .green {
            background-color: green;
        }

        .blue {
            background-color: blue;
        }